FastApi/app_parking/uploads/
FastApi/app_parking/outputs/
YOLOv8/datasets/
VisDrone.zip
*.pt
__pycache__/
*.pyc 
*.pyo
.venv/
venv/
runs/
!runs/**/best.pt
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
/coverage
/.next/
/out/
/build
.DS_Store
*.pem
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.env*
.vercel
*.tsbuildinfo
next-env.d.ts
venv